@import '../../../../RH-sites/RhSettingsVardgivare/_settings-vardgivare.scss';
@import '../../../../RH-styleguide/components/scss/_breakpoints.scss';
@import '../../../../RH-styleguide/components/scss/_mixin.scss';

/* Specific styling for Vardgivare website */
$site-section-gutter-xlarge: 1.875em; //30px x 2 = 60px
$site-section-gutter-large: 0.9375em; //15px x 2 = 30px

$home-main-gutter: $site-section-gutter-xlarge;
$home-main-padding-y: 2.5em; //40px
$home-blocks-offset: .6em;

// Will moved to Styleguide
// Grid system
$grid-gutter-width: 1.4em;
$grid-gutter-half-width: $grid-gutter-width/2;

.row.row-gutters {
    padding: 0;
    margin: -$grid-gutter-half-width; //Offset for a child element's padding

    >[class*="col-"] {
        padding: $grid-gutter-half-width;
    }

    &--around {
        padding: $grid-gutter-half-width;
        margin: 0;
    }
}

.col.col-item-eq-height {
    >div {
        height: 100%;
    }
}

// Mixin
@mixin create-article-header__border-bottom($borderBottomColor: #000000) {
    border-bottom: 0.125em solid $borderBottomColor;//2px
    @content;
}

@mixin create-article-header-title($textColor: false) {
    line-height: 1em; //25px
    margin-bottom: .1em;

    font-size: 1.125em; //18px
    font-weight: bold;

    @if ($textColor) {
        color: $textColor
    }

    @include medium {
        line-height: 1.375em;
    }

    @include large {
        font-size: 1.5em; //24px
    }

    @content;
}

@mixin create-article-item-title {
    line-height: 1.3125em;
    margin-bottom: .1em;

    font-size: 1em;
    font-weight: bold;

    @include medium {
        line-height: 1.375em;
    }

    @include large {
        font-size: 1.25em; //20px
    }

    @content;
}

@mixin create-article-item-description($textColor: false) {
    margin-top: .5em;
    margin-bottom: .5em;

    font-size: 0.9375em; //15px

    @if ($textColor) {
        color: $textColor
    }

    @include large {
        font-size: 1em; //16px
    }

    @content;
}

.rh {
    // Utilities
    // Only using for large and xlarge
    &-section-gutter-lx {
        &__left-side {
            @include large {
                padding-right: 0.9375em; //15px
            }

            @include xlarge {
                padding-right: 1.875em; //30px
            }
        }

        &__between-side {
            @include large {
                padding-left: 0.9375em; //15px
                padding-right: 0.9375em;
            }

            @include xlarge {
                padding-left: 1.875em; //30px
                padding-right: 1.875em;
            }
        }

        &__right-side {
            @include large {
                padding-left: 0.9375em; //15px
            }

            @include xlarge {
                padding-left: 1.875em; //30px
            }
        }
    }

    // Components
    &-article {
        &-block {
            margin-top: 1.5625em; //25px

            &__publish-date {
                display: flex;

                &-info {
                    margin: 0;
                    font-size: 0.8125em; //13px

                    @include large {
                        font-size: 0.875em; //14px
                    }
                }

                &-icon {
                    font-family: "feather";
                    font-size: 0.8125em; //13px
                    margin: .168em .3em 0 0;

                    &:before {
                        content: "\e84d";
                    }
                }
            }

            &__title {
                @include create-article-item-title {
                    &-link {
                        color: $vg-color-main;
                    }
                }
            }

            &__description {
                @include create-article-item-description;
            }
        }

        &-group {
            &__header {
                @include create-article-header__border-bottom($vg-color-main);

                &-title {
                    @include create-article-header-title;
                }
            }

            &__view-more {
                margin-top: 2em;
            }
        }

    }

    &-goto-block {
        &__header {
            @include create-article-header__border-bottom($vg-color-main);

            &-title {
                @include create-article-header-title;
            }
        }

        &__body {
            padding: 1.625em 1.875em;
            background-color: #f4f4f4;
            border-radius: 0.25em;

            &-item-link {
                line-height: 2.8em;
                color: $vg-color-main;
                word-break: break-word;
            }
        }
    }

    &-goto-page-block {
        p { margin-bottom: 0; } // Reset

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 3.75em; //60px
            padding: 0.9375em 0.9375em 0.9375em 1.875em;
            background-color: $vg-color-light-8;

            border-left: 0.25em solid $vg-color-main; //4px
            border-radius: 0.25em;

            &--open {
                border-radius: 0.25em 0.25em 0 0;
                color: #ffffff;
                background-color: $vg-color-main;
            }

            &-text {
                //color: #ffffff;
                font-size: 1.25em;
                font-weight: bold;
                word-break: break-word;
                line-height: 1.4375em;
            }
        }

        &__body {
            padding: 1.625em 2.125em;
            background-color: #f4f4f4;
            border-radius: 0 0 0.25em 0.25em;

            &-item-link {
                line-height: 2.8em;
                color: $vg-color-main;
                word-break: break-word;
            }
        }

        &__button {
            cursor: pointer;

            &--open {
                background-color: #ffffff;
                color: $vg-color-main;
            }
        }
    }
}
// End of Styleguide

// Specific stylings for the website
.rh-vg {

    &__header {
        &-logo-group {
            margin-top: 1em;

            display: flex;
            align-items: flex-end;

            &__name {
                margin-left: 1em;
                margin-bottom: .55em;
                font-size: 1em;

                @include large {
                    margin-bottom: .4em;
                    font-size: 1.25em;
                }
            }

            &--align-bottom {
                @include large {
                    justify-content: flex-end;
                    margin-bottom: 1em;
                }
            }
        }

        &-round-button {
            width: 2.1875em; //35px
            min-width: 2.1875em; // Fix for IE11
            height: 2.1875em;
            min-height: 2.1875em; // Fix for IE11
            text-align: center;
            padding-top: .55em;

            @include medium {
                width: 2.5em; //40px
                min-width: 2.5em;
                height: 2.5em;
                min-height: 2.5em;

                padding-top: .75em;
            }
        }

        &-icon {
            &-theme {
                background-color: $vg-color-main;
                color: #ffffff;
                border-color: $vg-color-main;
            }

            &-link {
                text-decoration: none;
            }
        }

        &-search {
            &-button {
                box-shadow: none;
                font-weight: bold;
            }
        }

        &-functions {
            margin-top: 1em;
            margin-bottom: 1em;

            &__item {
                display: flex;
                align-items: center;

                &-link {
                    margin-left: .2em;
                    color: #000000;
                    text-decoration: none;
                }
            }

            &-search-and-menu {
                display: flex;
                margin-left: auto;
                justify-content: flex-end;
            }

            &-talking {
                @include large {
                    margin-left: .5em;
                    margin-bottom: 1em;
                }
            }
        }
    }

    &__search {
        &-container {
            min-height: 0.1875em; //3px
            background-color: $vg-color-main; //3px
        }

        &-box {
            padding-top: 1.8em;
            padding-bottom: 1.8em;

            &>form {
                width: 100%;
            }
        }
    }

    &__home {
        &-main {
            display: flex;
            flex-direction: column-reverse;

            @include large {
                display: block;
                flex-direction: initial;
            }
        }

        &-left-group {
            padding-bottom: $home-main-padding-y;

            @include large {
                padding-top: $home-main-padding-y;

                padding-left: $page__container-large--padding-x;
                padding-right: $home-main-gutter;
            }

            @include xlarge {
                padding-left: $page__container-xlarge--padding-x;
            }
        }

        &-blocks {

            &-container {
                // Definition
                $prefix: "rh-vg__home-blocks-container";
                $container-py: $prefix + "-py";
                $container-px: $prefix + "-px";
                $container-p: $prefix + "-p";

                // Offset calculation for grid system
                $container-py-offset-top: $home-main-padding-y - $home-blocks-offset;
                $container-py-offset-bottom: $home-main-padding-y - $home-blocks-offset;

                $container-px-offset-right: $home-blocks-offset;

                // CSS Generation
                @include create-container-py($container-py, $home-main-padding-y, 0, 0);
                @include create-container-px($container-px, 0, $container-px-offset-right);

                @include create-container-p($container-p, $container-py, $container-px) {

                    // Changes container's behavior (only padding-left) on md mode - lg mode and upp
                    @include medium {
                        padding-left: $page__container-medium--padding-x - $home-blocks-offset;
                    }

                    @include large {
                        padding-left: $home-main-gutter - $home-blocks-offset;
                    }
                }
            }
        }

        &-site-info {
            padding: 1.875em 0 0 0; //30px

            @include large {
                padding-top: 0;
            }

            &__title {
                line-height: 1.3125em;
                margin-bottom: .1em;

                font-size: 1.875em;
                font-weight: bold;
                word-break: break-word;

                color: #ffffff;

                @include medium {
                    line-height: 1.375em;
                    color: #000000;
                }
            }
        }
    }

    &__page {
        &-left-container-px {
            @include large {
                padding-right: 0.9375em; //15px
            }

            @include xlarge {
                padding-right: 1.875em; //30px
            }
        }

        &-between-container-px {
            @include large {
                padding-left: 0.9375em; //15px
                padding-right: 0.9375em;
            }

            @include xlarge {
                padding-left: 1.875em; //30px
                padding-right: 1.875em;
            }
        }

        &-right-container-px {
            @include large {
                padding-left: 0.9375em; //15px
            }

            @include xlarge {
                padding-left: 1.875em; //30px
            }
        }

    }

    &__nav {
        &-left {
            &__link {
                color: #000000;
            }
        }
    }

    &__search-box {
        font-family: proxima-nova;
    }

    &__gutter {
        &-left-side {
            @include large {
                padding-right: $site-section-gutter-large;
            }

            @include xlarge {
                padding-right: $site-section-gutter-xlarge;
            }
        }

        &-right-side {
            @include large {
                padding-left: $site-section-gutter-large;
            }

            @include xlarge {
                padding-left: $site-section-gutter-xlarge;
            }
        }
    }

    &__styling {
        &-dark {
            color: #ffffff;
            background-color: $vg-color-main;
        }

        &-light-1 {
            color: #ffffff;
            background-color: $vg-color-light-1;
        }

        &-light-2 {
            color: #000000;
            background-color: $vg-color-light-2;
        }
    }

    &__bg-color {
        &-dark {
            background-color: $vg-color-main;
        }

        &-light-1 {
            background-color: $vg-color-light-1;
        }

        &-light-2 {
            background-color: $vg-color-light-2;
        }
    }
}

// Speciall - Ambulans
.rh-vg__styrda-dokument {

    &-container {
        @include large {
            padding-left: 8em;
            padding-right: 8em;
        }

        @include xlarge {
            padding-left: 15em;
            padding-right: 15em;
        }
    }

    margin-bottom: 4em;

    .std-container-inner.std-search-result {
        background-color: #f4f4f4;
        margin: 1em 0;
        padding: 1em;
        border-radius: 4px;
    }

    .std-search-tab {
        margin: 1em 0;

        li {
            height: 1.8em;
            cursor: pointer;

            &:hover {
                color: #005069;
            }
        }
    }

    .std-search-tab-active {
        font-weight: bold;
    }

    button {
        display: none;
    }

    a {
        color: $vg-color-main;
        word-break: break-word; //TODO
    }

    strong {
        line-height: 1.4em;
    }

    #std_orderby {
        height: 2.8em;
        width: 14em;
        font-size: 1em;
    }
}

#std-results {
    @extend .rh-vg__styrda-dokument;
}

// End of Ambulans


/* Menu */
/* It's needed for the menu
body {
    overflow-x: hidden;
} */

$menu-item__icon-size: 30px;
$menu-top-bar__height: 70px;
$menu-body--min-width: 320px;
$menu-body--max-width: 643px;
$menu-body__offset-bottom: 90px;

$menu-body--z-index: 60;
$menu-overlay--z-index: 50;

.rh-menu {

    // Main button
    &__button {
        cursor: pointer;

        &-close {
            margin-left: auto;
            background-color: #ffffff;
            color: $vg-color-main;
            border-color: $vg-color-main;
        }
    }

    &__top-bar {
        top: 0;
        display: flex;
        align-items: center;

        height: $menu-top-bar__height;

        padding-right: 0.84375em;
        background-color: #ffffff;

        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

        @include medium {
            padding-right: .7em;
        }
    }

    &__body {
        z-index: $menu-body--z-index;

        top: 0;
        right: $menu-body--max-width * -1;

        width: 100%;
        min-width: $menu-body--min-width;
        max-width: $menu-body--max-width;
        height: 100vh;

        background-color: #ffffff;

        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

        scroll-behavior: smooth;

        // iOS
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        &--show {
            right: 0;
        }
    }

    &__overlay {
        z-index: $menu-overlay--z-index;
        position: fixed;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.3);
    }

    &__link {
        color: #000000;
        line-height: 1.4;

        &-level-1 {
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
        }

        &--active {
            font-weight: bold;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        padding-top: 1em;
        padding-right: 1em;
        padding-bottom: 1em;

        min-height: 60px;

        border-bottom: 1px solid #9CB8C8;

        &-level-1 {
            background-color: $vg-color-main;
            color: #ffffff;
        }

        &-button {
            width: $menu-item__icon-size;
            min-width: $menu-item__icon-size;
            max-width: $menu-item__icon-size;

            height: $menu-item__icon-size;
            min-height: $menu-item__icon-size;
            max-height: $menu-item__icon-size;

            text-align: center;
            padding-top: .45em;

            margin-left: 1em;
            border-color: $vg-color-main;

            cursor: pointer;

            &-parent {
                background-color: #ffffff;
                color: $vg-color-main;
            }

            &-sub-item {
                background-color: $vg-color-light-1;
                color: #ffffff;

                &--active {
                    background-color: #ffffff;
                    color: $vg-color-main;
                }
            }
        }

        &-sub-container {
            &-level-3 {
                background-color: $vg-color-light-4;
            }

            &-level-4 {
                background-color: $vg-color-light-5;
            }

            &-level-5 {
                background-color: $vg-color-light-6;
            }
        }
    }

    &__offset {
        &-top {
            background-color: $vg-color-main;
        }

        &-bottom {
            background-color: $vg-color-main;
            height: $menu-body__offset-bottom;
        }
    }
}