.rh-article img {
    max-width: 100%;
    height: auto;

.rh-article figure {
    max-width: 100%;
    height: auto;
}

.rh-article ul {
    list-style-type: disc;
    padding-left: 2ex;
    line-height: 1.37em;
}

.rh-article ol {
    list-style-type: decimal;
    padding-left: 2ex;
    line-height: 1.37em;
}

.content-nav__item {
    border-left: 4px solid #E4E4E4;
    line-height: 1.4;
    padding-left: 1ex;
    padding-top: 0.8ex;
    padding-bottom: 0.8ex;
}

.content-nav__item--tight {
    line-height: 1.1;
    padding-top: 0.2ex;
    padding-bottom: 0.2ex;
}

.content-nav__item-level--3 {
    padding-left: 2ex;
}

.content-nav__item-level--4 {
    padding-left: 4ex;
}

.content-nav__item-link {
    text-decoration: none;
    color: black;
}

.content-nav__item:hover {
    border-left: 4px solid $vg-color-main; //#378A30;
}

.content-nav-container {
    background-color: white;
}

.jump-to-content {
    display: block;
    background: #fff;
    position: absolute;
    overflow: hidden;
    text-align: center;
    height: 0;
}

.jump-to-content:focus {
    position: initial;
    background: #fcaf15;
    padding: 0.5rem;
    height: auto;
    color: black;
}