.rh-article img {
    max-width: 100%;
    height: auto;
}

.rh-article figure {
    max-width: 100%;
    height: auto;
}

.rh-article ul {
    list-style-type: disc;
    padding-left: 2ex;
    line-height: 1.37em;
}

.rh-article ol {
    list-style-type: decimal;
    padding-left: 2ex;
    line-height: 1.37em;
}

.content-nav__item {
    border-left: 4px solid #E4E4E4;
    line-height: 1.4;
    padding-left: 1ex;
    padding-top: 0.8ex;
    padding-bottom: 0.8ex;
}

.content-nav__item--tight {
    line-height: 1.1;
    padding-top: 0.2ex;
    padding-bottom: 0.2ex;
}

.content-nav__item-level--3 {
    padding-left: 2ex;
}

.content-nav__item-level--4 {
    padding-left: 4ex;
}

.content-nav__item-link {
    text-decoration: none;
    color: black;
}

.content-nav__item:hover {
    border-left: 4px solid #005069;
}

.content-nav-container {
    background-color: white;
}

.jump-to-content {
    display: block;
    background: #fff;
    position: absolute;
    overflow: hidden;
    text-align: center;
    height: 0;
}

.jump-to-content:focus {
    position: initial;
    background: #fcaf15;
    padding: 0.5rem;
    height: auto;
    color: black;
}

.content-highlight {
    -webkit-animation-name: content-hightlight-animation;
    -o-animation-name: content-hightlight-animation;
    animation-name: content-hightlight-animation;
    -webkit-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes content-hightlight-animation {
    0% {
        background: #417795;
    }

    100% {
        background: none;
    }
}

@-o-keyframes content-hightlight-animation {
    0% {
        background: #417795;
    }

    100% {
        background: none;
    }
}

@keyframes content-hightlight-animation {
    0% {
        background: #417795;
    }

    100% {
        background: none;
    }
}

.rh-get-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
}

.rh-get-fixed-sticky {
    position: fixed;
    top: 15px;
}