@import '../../../../RH-sites/RhSettingsVardgivare/_settings-vardgivare.scss';
@import '../../../../RH-styleguide/components/scss/_breakpoints.scss';
@import '../../../../RH-styleguide/components/scss/_mixin.scss';

/* Specific styling for Vardgivare website */
$home-main-glutter: 1.875em; //30px x 2 = 60px
$home-main-padding-y: 2.5em; //40px
$home-blocks-offset: .6em;

.rh-vg {
    &__header {
        min-height: 80px;

        &-logo-group {
            margin-top: 1em;

            display: flex;
            align-items: flex-end;

            &__name {
                margin-left: 1em;
                margin-bottom: .55em;
                font-size: 1em;

                @include large {
                    margin-bottom: .4em;
                    font-size: 1.25em;
                }
            }

            &--align-bottom {
                @include large {
                    justify-content: flex-end;
                    margin-bottom: 1em;
                }
            }
        }

        &-round-button {
            width: 2.1875em; //35px
            min-width: 2.1875em; // Fix for IE11
            height: 2.1875em;
            min-height: 2.1875em; // Fix for IE11
            text-align: center;
            padding-top: .55em;

            @include medium {
                width: 2.5em; //40px
                min-width: 2.5em;
                height: 2.5em;
                min-height: 2.5em;

                padding-top: .75em;
            }
        }

        &-icon {
            &-theme {
                background-color: $vg-color-main;
                color: #ffffff;
            }

            &-link {
                text-decoration: none;
            }
        }

        &-search {
            &-button {
                box-shadow: none;
                font-weight: bold;
            }
        }

        &-functions {
            margin-top: 1em;
            margin-bottom: 1em;

            &__item {
                display: flex;
                align-items: center;

                &-link {
                    margin-left: .2em;
                    color: #000000;
                    text-decoration: none;
                }
            }

            &-search-and-menu {
                display: flex;
                margin-left: auto;
                justify-content: flex-end;
            }

            &-talking {
                @include large {
                    margin-left: .5em;
                    margin-bottom: 1em;
                }
            }
        }
    }

    &__home {
        &-main {
            display: flex;
            flex-direction: column-reverse;

            @include large {
                display: block;
                flex-direction: initial;
            }
        }

        &-left-group {
            padding-bottom: $home-main-padding-y;

            @include large {
                padding-top: $home-main-padding-y;

                padding-left: $page__container-large--padding-x;
                padding-right: $home-main-glutter;
            }

            @include xlarge {
                padding-left: $page__container-xlarge--padding-x;
            }
        }

        &-blocks {

            &-container {
                // Definition
                $prefix: "rh-vg__home-blocks-container";
                $container-py: $prefix + "-py";
                $container-px: $prefix + "-px";
                $container-p: $prefix + "-p";

                // Offset calculation for grid system
                $container-py-offset-top: $home-main-padding-y - $home-blocks-offset;
                $container-py-offset-bottom: $home-main-padding-y - $home-blocks-offset;

                $container-px-offset-right: $home-blocks-offset;

                // CSS Generation
                @include create-container-py($container-py, $home-main-padding-y, 0, 0);
                @include create-container-px($container-px, 0, $container-px-offset-right);

                @include create-container-p($container-p, $container-py, $container-px) {

                    // Changes container's behavior (only padding-left) on md mode - lg mode and upp
                    @include medium {
                        padding-left: $page__container-medium--padding-x - $home-blocks-offset;
                    }

                    @include large {
                        padding-left: $home-main-glutter - $home-blocks-offset;
                    }
                }
            }
        }

        &-site-info {
            padding: 1.875em 0 0 0; //30px

            @include large {
                padding-top: 0;
            }

            &__title {
                @extend .rh-vg__title;

                font-size: 1.875em;
                font-weight: bold;
                word-break: break-word;

                color: #ffffff;

                @include medium {
                    color: #000000;
                }
            }
        }

        &-news {
            @include large {
                margin-top: 2em;
            }

            &__header {
                border-bottom-style: solid;
                border-bottom-width: 0.125em; //2px
                border-bottom-color: $vg-color-main;

                &-title {
                    @extend .rh-vg__title;

                    font-size: 1.125em; //18px
                    font-weight: bold;
                    line-height: 1em; //25px

                    @include large {
                        font-size: 1.5em; //24px
                    }
                }
            }

            &__item {
                margin-top: 1.5625em; //25px

                &-publish {
                    display: flex;

                    &-info {
                        margin: 0;
                        font-size: 0.8125em; //13px

                        @include large {
                            font-size: 0.875em; //14px
                        }
                    }

                    &-icon {
                        font-family: "feather";
                        font-size: 0.8125em; //13px
                        margin: .168em .3em 0 0;

                        &:before {
                            content: "\e84d";
                        }
                    }
                }

                &-title {
                    @extend .rh-vg__title;

                    font-size: 1em;
                    font-weight: bold;

                    @include large {
                        font-size: 1.25em; //20px
                    }

                    &-link {
                        color: $vg-color-main;
                    }
                }

                &-description {
                    @extend .rh-vg__description;

                    font-size: 0.9375em; //15px

                    @include large {
                        font-size: 1em; //16px
                    }
                }
            }

            &__view-more {
                margin-top: 2em;
            }
        }
    }

    &__page {
        &-left-container-px {
            @include large {
                padding-right: 0.9375em; //15px
            }

            @include xlarge {
                padding-right: 1.875em; //30px
            }
        }

        &-between-container-px {
            @include large {
                padding-left: 0.9375em; //15px
                padding-right: 0.9375em;
            }

            @include xlarge {
                padding-left: 1.875em; //30px
                padding-right: 1.875em;
            }
        }

        &-right-container-px {
            @include large {
                padding-left: 0.9375em; //15px
            }

            @include xlarge {
                padding-left: 1.875em; //30px
            }
        }

    }

    &__nav {
        &-left {
            &__link {
                color: #000000;
            }
        }
    }

    // Helpers
    &__title {
        line-height: 1.3125em;
        margin-bottom: .1em;

        @include medium {
            line-height: 1.375em;
        }
    }

    &__description {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    &__styling {
        &-dark {
            color: #ffffff;
            background-color: $vg-color-main;
        }

        &-light-1 {
            color: #ffffff;
            background-color: $vg-color-light-1;
        }

        &-light-2 {
            color: #000000;
            background-color: $vg-color-light-2;
        }
    }

    &__bg-color {
        &-dark {
            background-color: $vg-color-main;
        }

        &-light-1 {
            background-color: $vg-color-light-1;
        }

        &-light-2 {
            background-color: $vg-color-light-2;
        }
    }
}

.content-nav__item {
    border-left: 4px solid #E4E4E4;
    line-height: 1.4;
    padding-left: 1ex;
    padding-top: 0.8ex;
    padding-bottom: 0.8ex;
}

.content-nav__item--tight {
    line-height: 1.1;
    padding-top: 0.2ex;
    padding-bottom: 0.2ex;
}

.content-nav__item-level--3 {
    padding-left: 2ex;
}

.content-nav__item-level--4 {
    padding-left: 4ex;
}

.content-nav__item-link {
    text-decoration: none;
    color: black;
}

.content-nav__item:hover {
    border-left: 4px solid $vg-color-main; //#378A30;
}

.content-nav-container {
    background-color: white;
}

.jump-to-content {
    display: block;
    background: #fff;
    position: absolute;
    overflow: hidden;
    text-align: center;
    height: 0;
}

.jump-to-content:focus {
    position: initial;
    background: #fcaf15;
    padding: 0.5rem;
    height: auto;
    color: black;
}

/* Menu */
$menu-item__icon-size: 30px;
$menu-top-bar__height: 70px;
$menu-body--min-width: 320px;
$menu-body--max-width: 643px;
$menu-body__offset-bottom: 90px;
//div { -webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000; }
.rh-menu {

    // Main button
    &__button {
        cursor: pointer;

        &-close {
            margin-left: auto;
            background-color: #ffffff;
            color: $vg-color-main;
        }
    }

    &__top-bar {
        display: flex;
        align-items: center;

        height: $menu-top-bar__height;

        padding-right: .8em;
        background-color: #ffffff;
        
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }

    &__body {
        z-index: 60;
        position: fixed;//TODO

        top: 0px;
        right: $menu-body--max-width * -1;

        width: 100%;
        min-width: $menu-body--min-width;
        max-width: $menu-body--max-width;
        height: 100%;

        background-color: #ffffff;

        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        
        scroll-behavior: smooth;
        
        // iOS
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        &--show {
            right: 0;
        }
    }

    &__overlay {
        z-index: 50;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.3);
    }

    &__link {
        color: #000000;
        line-height: 1.4;

        &-level-1 {
            font-size: 18px;
            font-weight: bold;
            color: #ffffff;
        }

        &--active {
            font-weight: bold;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        padding-top: 1em;
        padding-right: 1em;
        padding-bottom: 1em;

        min-height: 60px;

        border-bottom: 1px solid #9CB8C8;

        &-level-1 {
            background-color: $vg-color-main;
            color: #ffffff;
        }

        &-button {
            width: $menu-item__icon-size;
            min-width: $menu-item__icon-size;
            max-width: $menu-item__icon-size;

            height: $menu-item__icon-size;
            min-height: $menu-item__icon-size;
            max-height: $menu-item__icon-size;

            text-align: center;
            padding-top: .45em;

            margin-left: 1em;

            cursor: pointer;

            &-parent {
                background-color: #ffffff;
                color: $vg-color-main;
            }

            &-sub-item {
                background-color: $vg-color-light-1;
                color: #ffffff;

                &--active {
                    background-color: #ffffff;
                    color: $vg-color-main;
                }
            }
        }

        &-sub-container {
            &-level-3 {
                background-color: $vg-color-light-4;
            }

            &-level-4 {
                background-color: $vg-color-light-5;
            }

            &-level-5 {
                background-color: $vg-color-light-6;
            }
        }
    }

    &__offset {
        &-top {
            background-color: $vg-color-main;
        }

        &-bottom {
            background-color: $vg-color-main;
            height: $menu-body__offset-bottom;
        }
    }

    //TODO
    &-pos {
        &--absolute {
            position: absolute;
        }
    }
}